@font-face {
  font-family: "General Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Regular"),
    url("../assets/fonts/GeneralSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "General Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Italic"),
    url("../assets/fonts/GeneralSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Extralight";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Extralight"),
    url("../assets/fonts/GeneralSans-Extralight.woff") format("woff");
}

@font-face {
  font-family: "General Sans Extralight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Extralight Italic"),
    url("../assets/fonts/GeneralSans-ExtralightItalic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Light"),
    url("../assets/fonts/GeneralSans-Light.woff") format("woff");
}

@font-face {
  font-family: "General Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Light Italic"),
    url("../assets/fonts/GeneralSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Medium"),
    url("../assets/fonts/GeneralSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "General Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Medium Italic"),
    url("../assets/fonts/GeneralSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Semibold"),
    url("../assets/fonts/GeneralSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "General Sans Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Semibold Italic"),
    url("../assets/fonts/GeneralSans-SemiboldItalic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Bold"),
    url("../assets/fonts/GeneralSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "General Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("General Sans Bold Italic"),
    url("../assets/fonts/GeneralSans-BoldItalic.woff") format("woff");
}
