@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./utils.scss";
@import "./custom-carousel.scss";
:root {
  --bodyContentColor: #212e44;
  --accordionItemBg: white;
  --accordionItemDescColor: #282936;
  --swiper-theme-color: #5ec6d3;
  --swiper-pagination-bullet-size: 10.31px;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.section {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

html {
  font-size: w(16);
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--bodyContentColor);
  background: white;
  box-sizing: content-box;
  justify-content: center;
  width: 100%;
  display: block !important;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  html {
    font-size: w(16, 375, 1, false);
  }
}

.swiper-wrapper {
  transition-timing-function: ease-out;
}

.carousel-slide.transition {
  animation: easeOutSlide 0.5s ease-out forwards;
}

@keyframes easeOutSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.level-up-gradient {
  @media screen and (max-width: 800px) {
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(248, 237, 240, 0.5) 100%);
    
  }
}


html{
  --swiper-pagination-bullet-width: 0.3125rem;
  --swiper-pagination-bullet-height : 0.3125rem;
  --swiper-pagination-color : #898585;
  --swiper-pagination-bottom : 1.875rem;
}

.half-opacity{
  opacity: 0.1!important;
}

.qxCTlb {
  color: #FFFFFF !important; /* Force white text */
  width: 300px;
  height: 50px;
  background: #5EC6D3;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.21875rem;
  margin-top: 1.875rem;
  border-radius: 12px;
  &:active{
    scale: 0.95;
  }
  @media screen and (max-width: 800px) {    
    font-size:1rem;
    width: 100%;
  }
}

.mmGMM{
  pointer-events: all!important;
}
.Xfsokf{
  top: 16px;
  right: 16px;
}
.hur54b{
  padding:12px;
}
.rs-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
}
.page-container {
  @extend .rs-container;
  display: flex;
  flex-direction: column;
}
.privacy {
  ul {
    list-style: disc;
    list-style-position: inside;
  }
  p {
    display: inline;
    margin: 12px 0;
  }
  h3 + div {
    margin-top: 12px;
  }
  ul + h3 {
    margin-top: 12px;
  }
  p + p {
    margin-top: 0;
  }
  .privacy-text-small{
    font-size: 11pt;
  }
  .privacy-text-medium{
    font-size: 13pt;
  }
}