@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./utils.scss";
@import "./custom-carousel.scss";
:root {
  --bodyContentColor: #212e44;
  --accordionItemBg: white;
  --accordionItemDescColor: #282936;
  --swiper-theme-color: #5ec6d3;
  --swiper-pagination-bullet-size: 10.31px;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.section {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

html {
  font-size: w(16);
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--bodyContentColor);
  background: white;
  box-sizing: content-box;
  justify-content: center;
  width: 100%;
  display: block !important;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  html {
    font-size: w(16, 375, 1, false);
  }
}

.swiper-wrapper {
  transition-timing-function: ease-out;
}

.carousel-slide.transition {
  animation: easeOutSlide 0.5s ease-out forwards;
}

@keyframes easeOutSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.level-up-gradient {
  @media screen and (max-width: 800px) {
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(248, 237, 240, 0.5) 100%);
    
  }
}

html{
  --swiper-pagination-bullet-width: 0.3125rem;
  --swiper-pagination-bullet-height : 0.3125rem;
  --swiper-pagination-color : #898585;
  --swiper-pagination-bottom : 1.875rem;
}

.half-opacity{
  opacity: 0.1!important;
}