/* Font imports moved to HTML head for better performance */

.qxCTlb {
    display: inline-block;
    font-family: "Geist", sans-serif;
    font-weight:600;
    font-size: 1.1875rem;
    letter-spacing: 0em;
    color:#274D66;
    background-color: #88C3E7;
    border-radius:calc(infinity * 1px);
    &:active{
      scale: 0.95;
    }
    line-height:1.875rem;
    padding:0.9375rem 1.875rem;
    @media screen and (max-width: 800px) {    
      font-size:1.125rem;
      width: 100%;
    }
  }
  
  .mmGMM{
    pointer-events: all!important;
  }
  .Xfsokf{
    top: 16px;
    right: 16px;
  }
  .hur54b{
    padding:12px;
  }

  .privacy {
    ul {
      list-style: disc;
      list-style-position: inside;
    }
    p {
      display: inline;
      margin: 12px 0;
    }
    h3 + div {
      margin-top: 12px;
    }
    ul + h3 {
      margin-top: 12px;
    }
    p + p {
      margin-top: 0;
    }
    .privacy-text-small{
      font-size: 11pt;
    }
    .privacy-text-medium{
      font-size: 13pt;
    }
  }