:root {
  --factor: 1;
}
@media (max-width: 1440px) {
  :root {
    --factor: 1.15;
  }
}
@media (min-width: 2000px) {
  :root {
    --factor: 1;
  }
}
@function w($value, $idealViewportWidth: 1440, $factor: 1, $clamp: true) {
  $calculated: calc(
    $value * var(--window-width) / ($idealViewportWidth * var(--factor)) 
  );
  $nonClamped : calc($calculated * 1px);
  @return user-if(
    $clamp,
    clampValue(calc($value * var(--factor)), $calculated),
    $nonClamped 
  );
}

@function sp($value) {
  @return w($value);
}

@function user-if($condition, $true-statement, $false-statement) {
  $output: $false-statement;

  @if ($condition) {
    $output: $true-statement;
  }

  @return $output;
}

@function clampValue($value, $calculated) {
  $min: calc($value/2 * 1px);
  @return clamp($min, calc($calculated * 1px), calc($value * 1px));
}
